@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --sidebar-width: 260px;
}

html,
body,
#__next {
    height: 100%;
}

body {
    @apply bg-white text-gray-900;
}

.dark body {
    @apply bg-gray-900 text-gray-100;
}